.listagem {
    max-width: 200px;
}

.listagem .pokemon {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 10px;
    background-color: #0c3d75;
    color: #FFFFFF;
    padding: 0 5px;
    cursor: pointer;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    min-height: 70px;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    transition: 0.15s ease-in-out;        
}

.listagem .pokemon:hover {
    transform: scale(1.15);
    background-color: #e80000;    
    /* mudar para a cor do tipo */
}
.listagem .pokemon.ativo {
    background-color: #e80000;
}    

.listagem .pokemon img {
    width: 25%;
    border-radius: 50%;
}

.listagem .pokemon span {
    padding-right: 20px;    
}

    transition: 0.15s ease-in-out;
}

.listagem .pokemon:hover {
    transform: scale(1.10);
}

.listagem .pokemon img {
    width: 25%;
    border-radius: 50%;
}

.listagem .pokemon span {
    padding-right: 20px;
}

.listagem .pokemon.ativo {
    background-color: #4b0744;
}
