@media (max-width: 750px) {
  body {
    font-size: 12px;
  }

  .background-style {
    margin-top: -30px;
    background-image: url(/src/css/background/pokeball-planetx-wallpaper.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-bottom: 10px;
  }

  .topo {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    background-color: #090324;
    height: 10vh;
  }

  .pokedex {
    flex-direction: column;
    padding: 30px 0;
  }

  .cartao-pokemon {
    max-width: 300px;
  }

  .cartao-pokemon .cartao-imagem {
    width: 200px;
    height: 200px;
  }

  .cartao-pokemon .cartao-informacoes {
    padding: 60px 30px 30;
    margin-top: -50px;
  }

  .cartao-pokemon .cartao-informacoes .informacoes {
    display: flex;
    justify-content: space-between;
    padding: 0;
  }

  .cartao-pokemon .cartao-informacoes h3 {
    font-size: 16px;
  }

  .listagem {
    max-width: 300px;
  }

  .listagem ul {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .listagem .pokemon {
    width: 140px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-bottom: 0;
    border-radius: 8px;
  }

  .listagem .pokemon span {
    padding-right: 5px;
  }
}
